<nav class="nav">
      <%= link_to 'Stay in touch', root_path %>
      <div class="menu">
        <div class="menu-item">
          <%= menu_link_to 'Timeline', posts_path %>
        </div>
        <div class="menu-item">
          <%= menu_link_to 'All users', users_path %>
        </div>
        <div class="my requests">
          <%= menu_link_to 'my friend requests', friendships_path %>
        </div>
      </div>
      <% if current_user %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign in', user_session_path %>
      <% end %>
</nav>

<nav class="navbar | has-background-dark " role="navigation" aria-label="main navigation">
  
    <%= link_to 'SM friends', root_path, class:"navbar-item | subtitle has-text-weight-bold is-uppercase | has-text-warning | mb-0"  %>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      

      <%= menu_link_to 'Timeline', posts_path%>
      <%= menu_link_to 'All users', users_path %>
      
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link has-text-info">
          <%= current_user.name %>
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>